<html>
<head>
<title>mako!</title>
<link rel="stylesheet" href="/resources/style.css" type="text/css"charset="utf-8">
</head>
<body>
    <div class="container">
    <div class="topbar">
        <b>${label}</b>&nbsp;|&nbsp;<a href="${link}">${link_label}</a>
    </div>
    <div class="query">
    <form action="/${path}" method="post">
      <textarea class="query_input" name="data">${sample}</textarea>
      <br>
      <input type="submit" value="do ${label}">
    </form>
    </div>
    <div class="hist">
        <b>${label} history</b>
        <ol>
        % for (i,q) in enumerate(hist[:10]):
         <li><a href="/?hist=${i}">${q|h}</a></li>
        % endfor
        </ol>
        % if len(hist) > 10:
          <a href="/hist">${len(hist)-10} more ${label}s...</a>
        % endif        
    </div>
</div>    
</body></html>
