<html>
<head>
<title>server status</title>
<link rel="stylesheet" href="/resources/style.css" type="text/css"charset="utf-8">
</head>
<body>
    <div class="container">
        % if len(data) == 0:
        <p>no statistics available</p>
        % else:
            % for (title, tuples) in data:
                % if len(tuples) > 0:
                    ${title}
                    <table border=0>                        
                    % for (k,v) in tuples:
                    <tr><td>${k}</td><td>${v}</td></tr>
                    % endfor
                    </table>
                % endif
            <br><br>
            % endfor
        % endif
</div>    
</body></html>
