<%namespace name='slots' file="slots.html" />

<%def name='header(priority=0)'>${slots.callslot('header', caller.body, priority)}</%def>
<%def name='footer(priority=0)'>${slots.callslot('footer', caller.body, priority)}</%def>
<%def name='sidebar(priority=0)'>${slots.callslot('sidebar', caller.body, priority)}</%def>

<%def name="layout()">
<%
##need to do this now so callers calls to callslots defined here are run before they are written out
callerbody = capture(caller.body)
%>
<%slots:html>

<%slots:head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" href="static/reset-fonts-grids.css" />
<link rel="stylesheet" type="text/css" href="static/base.css" />

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/humanity/jquery-ui.css" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="static/generic.css" />

</%slots:head>

<%slots:css>
</%slots:css>

<!-- doc3 == 100% -->
<div id='doc3' class="yui-t4">
  <div id="hd" class="header-title">      
    <div>${slots.output('header')}</div>
    % if errors:
        <div class='error'>Error:
        ${'<br/>'.join(errors)}
        </div>
    % endif
  </div>
  <div id="bd">
      <div id="yui-main">          
          <div class="yui-b">
          ${callerbody}
          </div>
      </div>
      <div class="yui-b rightcol">          
        ${slots.output('sidebar')}
      </div>      
</div>   
     <div id="ft">
        ${slots.output('footer')}
    </div>
</div>

<%slots:scripts name='jquery'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="static/js/data.js"></script>
<script type="text/javascript" src="static/js/json2.js"></script>
</%slots:scripts>

</%slots:html>
</%def>