## -*- coding: utf-8 -*-
<%namespace name='slots' file="slots.html" />
<%!
import re
from vesper.backports import json
from vesper.utils import defaultproxyattrdict, attrdict

def selected(test): 
  if test: return 'selected'
  else: return ''

def resolve(obj, prop):
  if not obj:
    return obj
  #regex negative look-ahead assertion to escape \ but not \\
  escbs = r'(?<!(?<!\\)\\)' 
  for name in re.split(escbs + r'\.', prop):    
    index = None
    if name[-1] == ']':      
      match = re.match('(.+)'+ escbs + r'\[(\d*)\]', name)
      if match:
        name = match.group(1)
        index = match.group(2)
    name = re.sub(r'\\(.)', r'\1', name)
    if not hasattr(obj, 'get'):
      return UNDEFINED
    obj = obj.get(name, UNDEFINED)
    if index:      
      if not isinstance(obj, list):
        return UNDEFINED
      index = int(index)
      if len(obj) <= index:
        return UNDEFINED
      obj = obj[index]
    elif not obj:
      return obj
  return obj

def q(s):
  '''
  Escape the string so that it can be used in double-quoted attribute values
  '''  
  return s.replace('&', '&amp;').replace('"','&quot;')

def aq(s):
  '''
  Escape the string so that it can be used in double-quoted attribute values
  '''
  if s.count('"') > s.count("'"):
    #technically html < 5 doesn't support &apos and so &#39; should be used but all
    #modern browsers do: see http://code.google.com/p/doctype/wiki/AposCharacterEntity
    return "'"+s.replace('&', '&amp;').replace("'",'&apos;')+"'"
  else:
    return '"'+s.replace('&', '&amp;').replace('"','&quot;')+'"'
  
def kwtoattr(kw):
  return ' '.join([
    ##strip _ so we can have python keywords as attributes (e.g. _class)
    (name.startswith('_') and name[1:] or name) + '='+ aq(value)
                                    for name, value in kw.items()])

def getobj(context, kw):
  '''
  If no 'o' parameter is present use the object associated with the parent form.
  '''
  if 'o' in kw:
    obj = kw.pop('o') 
    if isinstance(obj, (str, unicode)):
      return resolve(context['__'].currobj, obj)
    return obj
  else:
    return context['__'].currobj

def setFormBindClass(val, kw=None, nullAsJson=False):
  if isinstance(val, (str, unicode, type(UNDEFINED))):
    return '' #don't bother with string
  elif isinstance(val, bool):
    btype = 'boolean'
  elif isinstance(val, (int, float)):
    btype = 'number'
  elif isinstance(val, type(None)):
    btype = nullAsJson and 'json' or 'null'
  else:
    btype = 'json'

  bindclass = "type[%s]" % btype
  if btype and kw is not None:
    _class = kw.get('_class','')
    if _class:
      if not re.search('type\[(.*)\]', _class):
        #dont set if already defined
        kw['_class'] =  _class + ' ' + bindclass
    else:  
      kw['_class'] =  bindclass
    
  return bindclass

def serializeValue(val):  
  if isinstance(val, bool):
    return val and 'true' or 'false'
  elif isinstance(val, (str, unicode)):
    return val
  elif isinstance(val, (int, float, type(UNDEFINED))):
    return str(val)
  elif isinstance(val, type(None)):
    return ''
  else:
    return json.dumps(val)
%>

<%def name='form(o, **kw)'> 
  <%slots:component name='dbform'>
    <%slots:scripts> \
      <script type='text/javascript'>  
      $('.dbform').submit(function() {
        $(this).dbUpdate();
        return false;
      });
      </script> \
    </%slots:scripts>
  </%slots:component>
  <%
  kw['_class'] = kw.get('_class','') + ' ' + 'dbform'
  %>  
  <form ${kwtoattr(kw)} >
  % if 'id' in o:
    <input type='hidden' name='id' value='${o["id"]|q}' />
  % endif
  % if 'type' in o:
    <input type='hidden' name='type' value='${o["type"]|q}' />
  % endif
  <%
  oldcurrobj = __.currobj
  __.currobj = o
  %>
  ${caller.body()}
  <%
  __.currobj = oldcurrobj
  %>\
</form>
</%def>

<%def name='input(prop, **kw)'>
   <%
   obj = getobj(context, kw)
   itype = kw.pop('type', 'text')
   value = resolve(obj,prop)
   toggleInput = itype in ['radio', 'checkbox']
   bindclass = setFormBindClass(value, kw, toggleInput)
   if 'value' not in kw:
      if toggleInput and not value:
        #current value will set input to unchecked state
        #set the value to will be used if the input is checked
        #it needs to match the type of current empty value
        if 'ifempty' in kw:
          kw['value'] = kw.pop('ifempty')
        else:
          if not bindclass or bindclass == 'type[string]':
            #in html, input.value defaults to "on" when checked
            kw['value'] = 'on' 
          elif bindclass == 'type[number]':
            kw['value'] = '1'
          elif bindclass == 'type[boolean]' or bindclass == 'type[json]':
            kw['value'] = 'true'
          else:
            assert 'unexpected bindclass "%s" when setting a default unchecked value' % bindclass
      else:
        kw['value'] = serializeValue(value)
   %> \
   <input type='${itype}' ${kwtoattr(kw)} name='${prop}' ${toggleInput and value and 'checked ' or ''}>${caller.body()}</input> \
</%def>

<%def name='hidden(prop, **kw)'>
  <%
  obj = getobj(context, kw)
  value = resolve(obj, prop)
  setFormBindClass(value, kw)
  if 'value' not in kw:
    kw['value'] = serializeValue(value)
  %>   
  <input type='hidden' name='${prop}' ${kwtoattr(kw)} />
</%def>

<%def name='select(prop, options, **kw)'>
  <%
  obj = getobj(context, kw)
  selection = resolve(obj,prop)
  islist = isinstance(selection, list)
  if islist:
    prop += '[]'
  %>
  <select ${kwtoattr(kw)} name='${prop}' ${islist and 'multiple' or ''}> 
% for option in options:
<% 
    __.option = option
    label = option
    optionVal = option
    if isinstance(option, dict):
      if not isinstance(option, attrdict):
        __.option = defaultproxyattrdict(option)
      if option.get('id'):
        optionVal = option['id']
      elif 'value' in option:
        label = option.get('label', option['value'])
        optionVal = option['value']
        
      if islist:
        match = optionVal in selection
      else:
        match = optionVal == selection
    else:
      match = optionVal == selection
    bindclass = setFormBindClass(optionVal)
    %> \
    <option ${selected(match)} class='${bindclass}' value=${serializeValue(optionVal)|aq}>${capture(caller.body) or label}</option>
% endfor
  <%
  __.option = UNDEFINED
  %>\
</select>
</%def>

<%def name='textarea(prop, **kw)'>
  <%
  obj = getobj(context, kw)
  value = resolve(obj, prop)
  setFormBindClass(value, kw)
  %>   
  <textarea name='${prop}' ${kwtoattr(kw)}>${serializeValue(value)|h}</textarea>
</%def>


