## -*- coding: utf-8 -*-
##:copyright: Copyright 2009-2010 by the Vesper team, see AUTHORS.
##:license: Dual licenced under the GPL or Apache2 licences, see LICENSE.
<%namespace name='layout' file="layout.html" />
<%!
from vesper.backports import json
%>

<%layout:layout>

  <%def name="head()">
  <title>vesper admin</title>
  </%def>

  <%def name="style()">
  ${layout.panelCss()}
  .ui-icon-refresh {
      display:none;
  }
  .panel-queryarea {
      background-color: whitesmoke;
      padding: 6px;
      padding-bottom: 12px; 
      margin-bottom:12px;
      overflow-y: hidden;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;    
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;        

      -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .cmd {
    border: 1px solid grey;
    padding: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-border-radius: 5px;        
  }

  #query {
    width: 100%;
  }
  .query-options {
      float:right;
      padding-right:20px;
      margin-top: .3em;
  }
  .resultbox {
      padding: 6px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;        

      -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  #error {
    display:none;
    background-color:lightsalmon;
    margin-top: 12px;
    margin-bottom: 12px;
  }  
  #explainresults {
    display:none;
    background-color:palegreen;
    margin-top: 12px;
  }
  #debugresults {
    display:none;
    background-color:lightsteelblue;
    margin-top: 12px;
  }
  </%def>

  <%def name="sidebar()">
      sidebar!!!
  </%def>

  <%layout:renderPanel id="main-panel">
    <%def name='headerContents()'>
    Query&nbsp;<span id="headerquery"></span>
    </%def>
  <div id="queryinput" class="panel-queryarea">
  Enter your query: <textarea id='query'></textarea>
  <button id='query-button'>Go</button>    
  <div class="query-options">
    <span class='cmd'>
    <label><input type="radio" name='cmd' value='query' checked />Query</label>
    <label><input type="checkbox" id="opt-explain">Explain</label>
    <label><input type="checkbox" id="opt-forupdate">For Update</label>
    <label><input type="checkbox" id="opt-debug">Debug</label>
    </span>
    <label class='cmd'><input type="radio" name='cmd' value='update'>Update</label>
    <label class='cmd'><input type="radio" name='cmd' value='create'>Create</label>
    <label class='cmd'><input type="radio" name='cmd' value='replace'>Replace</label>
    <label class='cmd'><input type="radio" name='cmd' value='add'>Add</label>
    <label class='cmd'><input type="radio" name='cmd' value='remove'>Remove</label>
  </div>
  
  </div>
  <div id='error' class="resultbox">
  <b>Error:</b><hr>
  <div class="precontent">&nbsp;</div>
  </div>  
  <b>Results:</b>
  <div id='queryresults' class="precontent">
  </div>
  <div id='explainresults' class="resultbox">
  <b>Explain:</b><hr>
  <div class="precontent">&nbsp;</div>
  </div>
  <div id='debugresults' class="resultbox">
  <b>Debug:</b><hr>
  <div class="precontent">&nbsp;</div>
  </div>  
  </%layout:renderPanel>

  <%def name="script()">
    <script type='text/javascript'>
    function runQuery() {
      var q = {captureErrors:true};
      q.query = $('#query').val();
      q.explain = $('#opt-explain').is(':checked');
      q.forUpdate = $('#opt-forupdate').is(':checked');
      q.debug = $('#opt-debug').is(':checked');
      $('#queryresults').dbQuery(q, function(data) {
          if (data.results) {
              $('#queryresults').text(JSON.stringify(data.results, null, 4));                      
              $('#headerquery').text(" - Showing " + data.results.length + " objects");                        
          }
          if (data.errors && data.errors.length > 0) {
              $('#error .precontent').text(JSON.stringify(data.errors, null, 4));
              $('#error').show();
          } else {
              $('#error').hide();
          }
          if (data.explain) {
              $('#explainresults .precontent').text(data.explain);
              $('#explainresults').show();
          } else {
              $('#explainresults').hide();
          }
          if (data.debug) {
              $('#debugresults .precontent').text(data.debug);
              $('#debugresults').show();
          } else {
              $('#debugresults').hide();                      
          }
      });
    }
    
      <%layout:initPanelJs></%layout:initPanelJs>
      
      $(document).ready(function(){
          $('#query-button').click(function() {
              var cmd = $('[name=cmd]:checked').val();   
              if (cmd == 'query') { 
                runQuery();
              } else {
                try {
                  var data = JSON.parse($('#query').val());
                } catch (e) {
                  $('#error .precontent').text("Error parsing JSON");
                  $('#error').show();
                  return;
                }
                $('#error').hide();
                $(document)._executeTxn(cmd, data, function(data) {
                    $('#queryresults').text(JSON.stringify(data, null, 4));                      
                    $('#headerquery').text(cmd + " response");
                });
              }
          });
      });
      
    </script>
  </%def>

</%layout:layout>