<%!
from vesper.utils import attrdict

def sortBlocks(blocks):
  #components go first
  blocks = sorted(blocks, key=lambda b: not b.isComponent)
  sofar = set()
  neworder = []
  while blocks:
    block = blocks.pop(0)
    assert isinstance(block.dependencies, (list,tuple))
    for dependency in block.dependencies:
      if dependency not in sofar:
        #look ahead for dependency, reorder if found
        i = 0
        while i < len(blocks):
          b = blocks[i]          
          if b.name == dependency:
            sofar.add(b.name)
            neworder.append(b.content)
            blocks.pop(i)
            continue
          i += 1
    neworder.append(block.content)
    if block.name:
      sofar.add(block.name)
  return neworder

%>

<%def name="component(name, dependencies=None)">
<%
oldcurrcomponent = __.currcomponent
__.currcomponent = attrdict(name=name, dependencies=dependencies or [])
%>
${caller.body()}
<%
__.currcomponent = oldcurrcomponent
%>
</%def>

<%def name='callslot(slot, body=None, blockName=None, dependencies=None)'><%
component = __.currcomponent
if not component and blockName:
  component = attrdict(name=name, dependencies=dependencies or [])
##if we're creating a component now, keep track of that so we don't have to 
##worry about duplicating the component if its loaded again
if not component or (component.name,slot) not in __.setdefault('components', set()):
  content = capture(body or caller.body)
  slots = __.setdefault('slots', {})
  if component:
    block = attrdict(content=content, isComponent=True, name=blockName or component.name, 
            dependencies=dependencies or component.dependencies)
  else:
    block = attrdict(content=content, isComponent=False, name=blockName, dependencies=dependencies or [])
  #slots will be in added in reverse of import/declaration order 
  #so push at front of list to fix order
  slots.setdefault(slot, []).insert(0, block)
  if component:
    __.components.add( (component.name,slot) )
%></%def>

<%def name='head(priority=0)'>${callslot('head', caller.body, priority)}</%def>

<%def name='css(priority=0)'>${callslot('css', caller.body, priority)}</%def>

<%def name='scripts(name=None)'>${callslot('scripts', caller.body, name)}</%def>

<%def name='output(slot)'>
<%
if not __.slots: return 
%>
%for content in sortBlocks(__.slots.get(slot,[])):
 ${content}
%endfor
</%def>

<%def name='html()'>
<%
##need to do this now so all calls to callslots are run first
callerbody = capture(caller.body)
%>

<html>
<head>
${output('head')}

<style type="text/css">
${output('css')}
</style>
</head>
<body>
${callerbody}

${output('scripts')}
</body></html>
</%def>

